.PlayButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--theme-primary-color);
    background: var(--main-primary-color);
    text-align: center;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.PlayButtonIcon, .PauseButtonIcon {
    height: 18px;
    width: 18px;
    margin-top: 9px;
}

.DefaultPlayer {
    display: none;
}

.PlayBar {
    height: 6px;
    background: grey;
}

.PlayBarWrapper {
    width: calc(100% - 60px);
    padding: 20px 0;
    display: inline-block;
    margin-left: 20px;
}

.PlayerWrapper {
    margin-top: 20px;
    position: relative;
}

.ProgressPoint {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: grey;
    position: absolute;
    top: 15px;
    cursor: pointer;
    transition: left .4s;
    left: -1%;
}

.PlayBarWrapper {
    position: relative;
}

.AudioDuration {
    position: absolute;
    right: 0;
    top: 35px;
    color: #d3d3d3;
    font-size: 12px;
}

.CurrentAudioTime {
    position: absolute;
    left: 55px;
    top: 35px;
    color: #d3d3d3;
    font-size: 12px;
}
