body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  margin-bottom: 30px;
}

.page-section {
  border-radius: 5px;
  border: 1px solid var(--main-dark-color);
  background: var(--main-primary-color);
  padding: 15px;
}


.bird-image {
  border-radius: 10px;
  width: 200px;
  max-height: 150px;
}
